<div class="section">
    <div class="container">
        <div class="row">
          <div class="col-md-4 col-6">
                <div class="category-shop">
                    <div class="category-shop-img">
                        <img src="../../../../assets/img/shop01.png"/>
                    </div>
                    <div class="category-shop-body">
                        <h3> Laptob <br/> Collection</h3>
                        <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-6">
                <div class="category-shop">
                    <div class="category-shop-img">
                        <img src="../../../../assets/img/shop02.png"/>
                    </div>
                    <div class="category-shop-body">
                        <h3> Accessories <br/> Collection</h3>
                        <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-6">
                <div class="category-shop">
                    <div class="category-shop-img">
                        <img src="../../../../assets/img/shop03.png"/>
                    </div>
                    <div class="category-shop-body">
                        <h3> Cameras <br/> Collection</h3>
                        <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
